body{
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #111;
}
.lnbWrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lnbWrap > li{
  color: #111;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px 30px;
  margin: 0 50px;
  white-space: nowrap;
}
.lnbWrap > li:nth-of-type(1){
  margin: 0;
}
.lnbWrap .inquiry{
  color: #FFF;
  padding: 14px 40px;
  border-radius: 99px;
  background: #00B3BA;
}

.serviceWrap{
  justify-content: space-between;
  display: flex;
}
.serviceCarousel{
  width: 1035px;
}
.serviceWrap .carousel-indicators{
  top: 0;
}
